header {
    background-color:#27005D;
    color: #E4F1FF;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 8px;
}
.input-section {
    display: flex;
    flex-direction: column;
}
label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 16px;
    color: #27005D;
}
#input-suhu {
    padding: 10px;
    border: #27005D solid 1px;
    border-radius: 4px;
    outline: none;
    width: 150px;
    margin-top: 4px;
    margin-bottom: 12px;
    margin-left: 150px;
    margin-right: 20px;
}
#input-suhu:focus {
    border-color: #9400FF;
}
#output-suhu {
    padding: 10px;
    border: #27005D solid 1px;
    border-radius: 4px;
    outline: none;
    width: 150px;
    margin-top: 4px;
    margin-bottom: 12px;
    margin-left: 20px;
    margin-right: 20px;
}
#output-suhu:focus {
    border-color: #9400FF;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    background-color: #27005D;
    color: #E4F1FF;
    border: none;
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;
}
button:hover {
    background-color: rgb(148, 0, 255);
}
button:active {
    background-color: rgb(175,65,255);
    transform: translateY(3px);
}
.reset {
    grid-column: 1 / span 2;
    background-color: #C70039;
}
.reset:hover {
    background-color: #FF6969;
}
.reset:active {
    background-color: rgb(175,65,255);
    transform: translateY(3px);
}
.convert {
    grid-column: 3 / span 2;
    background-color: black;
}
.convert:hover {
    background-color: rgb(70,70,70);
}
.convert:active {
    background-color: rgb(175,65,255);
    transform: translateY(3px);
}
.cara-kalkulasi {
    grid-column-start: 5;
    grid-row: 1 / span 2;
}
.reverse {
    grid-column-start: 4;
    background-color: #E55604;
}
.reverse:hover {
    background-color: #FFB000;
}
.reverse:active {
    background-color: rgb(175,65,255);
    transform: translateY(3px);
}
/*.backspace {
    background-color: #2E4374;
}
.backspace:hover {
    background-color: #4B527E;
}
.backspace:active {
    background-color: rgb(175,65,255);
    transform: translateY(3px);
}*/
.cara-konversi {
    grid-column-start: 5;
    grid-row: 3 / span 3;
}
.indikator {
    grid-column-start: 4;
    grid-row: 3 / span 3;
    background-color: yellow;
    cursor: auto;
}
.indikator:hover {
    background-color: yellow;
}
.indikator:active {
    background-color: yellow;
    transform: translateY(0px);
}
#input-button {
    display: flex;
    align-self: center;
}
.suhu {
    display: flex;
    justify-content: flex-start;
    height: 20px;
    align-items: center;
}
#suhu-diketahui {
    width: 150px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    font-size: 16px;
    color: black;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 160px;
    margin-right: 35px;
    font-weight: bold;
}
#suhu-ditanya {
    width: 150px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    font-size: 16px;
    color: black;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 67px;
    margin-right: 35px;
    font-weight: bold;
}
.grid-kalkulator {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 50px 50px 50px 100px 600px;
    margin-left: 120px
}
body {
    font-family: Arial, Helvetica, sans-serif;
}